<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Settings</title>
	<link rel="stylesheet" href="/css/global.css">
	<link rel="stylesheet" href="/css/settings.css">
</head>
<body class="settings">
	<main>
		<header>
			<span>jailtime logo</span>
			<h2>Settings</h2>
		</header>
		<div class="columns">
			<nav>
				<span class="title">Sections</span>
				<ul>
					<li>Blocklist</li>
					<li><a href="#">Syncing (Coming soon)</a></li>
				</ul>
			</nav>			
			<div class="main-content">Yee</div>
		</div>

	</main>
	<footer>© Colin Kiama - 2022</footer>
</body>
</html>