<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Jailtime - Blocklist Settings</title>
	<link rel="stylesheet" href="/css/global.css">
	<link rel="stylesheet" href="/css/settings.css">
</head>
<body class="settings">
	<main>
		<header>
			<span>
				<svg width="48" height="48" version="1.1" viewBox="0 0 4.2333 4.2333" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				 <defs>
				  <linearGradient id="linearGradient1519" x1=".0030199" x2="3.6515" y1="2.1198" y2=".93503" gradientTransform="matrix(.99685 0 0 .99985 -.0030104 .0051535)" gradientUnits="userSpaceOnUse">
				   <stop stop-color="#f2e47f" offset="0"/>
				   <stop stop-color="#db1d15" offset="1"/>
				  </linearGradient>
				 </defs>
				 <path x="5.3776428e-17" y="0" width="4.2491851" height="4.2491851" d="m1 0h2.2492a1 1 45 0 1 1 1v2.2492a1 1 135 0 1-1 1h-2.2492a1 1 45 0 1-1-1v-2.2492a1 1 135 0 1 1-1z" fill="url(#linearGradient1519)" fill-rule="evenodd" stroke-width=".26326"/>
				 <g fill="none" stroke="#000" stroke-width="2">
				  <g transform="matrix(.18532 0 0 .18532 -.10722 -.10722)">
				   <path d="m18.364 18.364a9.0001 9.0001 0 0 0-12.728-12.728m12.728 12.728a9.0001 9.0001 0 0 1-12.728-12.728m12.728 12.728-12.728-12.728" stroke-linecap="round" stroke-linejoin="round"/>
				  </g>
				  <g transform="matrix(.052546 0 0 .052546 2.1305 .91245)">
				   <path d="m12 15v2m-6 4h12a2 2 0 0 0 2-2v-6a2 2 0 0 0-2-2h-12a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2zm10-10v-4a4 4 0 0 0-8 0v4z" stroke-linecap="round" stroke-linejoin="round"/>
				  </g>
				 </g>
				</svg>
			</span>
			<h1>Settings</h1>
		</header>
		<div class="columns">
			<nav>
				<ul>
					<li>Blocklist</li>
					<li><a href="#">Syncing (Coming soon)</a></li>
				</ul>
			</nav>			
			<section class="main-content" data-controller="blocklist">
				<header>
					<h2>Blocklist</h2>
				</header>
				<label class="add-site-area">
					<h3>Enter a URL to add (e.g. facebook.com):</h3>
					<div class="url-input-area">
						<input type="text" autocomplete="url" data-blocklist-target="urlInput"
						data-action="keyup->blocklist#handleKeyPress">
						<button class="primary" data-action="blocklist#add">
							<svg class="icon">
								<use href="/assets/icons/spritemap.svg#sprite-add"></use>
							</svg>
							<span>Add a new site</span>
						</button>
					</div>
					<div data-blocklist-target="addSiteStatusMessage" class="status-message"></div>
				</label>
				<div class="table-wrapper">
					<table>
						<tbody data-blocklist-target="listElement">
						</tbody>
					</table>
				</div>
			</section>
		</div>

	</main>
	<footer>© Colin Kiama - 2022</footer>
	<script src="/js/settings.js" type="module"></script>
</body>
</html>