<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Settings</title>
	<link rel="stylesheet" href="/css/global.css">
	<link rel="stylesheet" href="/css/settings.css">
</head>
<body class="settings">
	<main>
		<header>
			<span>jailtime logo</span>
			<h1>Settings</h1>
		</header>
		<div class="columns">
			<nav>
				<ul>
					<li>Blocklist</li>
					<li><a href="#">Syncing (Coming soon)</a></li>
				</ul>
			</nav>			
			<section class="main-content" data-controller="blocklist">
				<header>
					<h2>Blocklist</h2>
				</header>
				<label class="add-site-area">
					<h3>Enter a URL to add (e.g. facebook.com):</h3>
					<div class="url-input-area">
						<input type="text" autocomplete="url" data-blocklist-target="urlInput">
						<button class="primary" data-action="blocklist#add">
							<svg class="icon">
								<use href="/assets/icons/spritemap.svg#sprite-add"></use>
							</svg>
							<span>Add a new site</span>
						</button>
					</div>
					<div data-blocklist-target="addSiteStatusMessage" class="status-message"></div>
				</label>
				<div class="table-wrapper">
					<table>
						<tbody data-blocklist-target="listElement">
						</tbody>
					</table>
				</div>
			</section>
		</div>

	</main>
	<footer>© Colin Kiama - 2022</footer>
	<script src="/js/settings.js" type="module"></script>
</body>
</html>