<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Settings</title>
	<link rel="stylesheet" href="/css/global.css">
	<link rel="stylesheet" href="/css/settings.css">
</head>
<body class="settings">
	<header>
		<span>jailtime logo</span>
		<h2>Settings</h2>
	</header>
	<main class="grid">
		<nav>
			<span class="title">Sections</span>
			<ul>
				<li><a href="./blocklist.html">Blocklist</a></li>
				<li><a href="./scheduled-blocks.html">Scheduled Blocks</a></li>
				<li><a href="./temporary-blocks.html">Temporary Blocks</a></li>
			</ul>
		</nav>
	</main>
	<footer>© Colin Kiama - 2022</footer>
</body>
</html>