<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>jailtime popup</title>
	<link rel="stylesheet" href="/css/global.css">
	<link rel="stylesheet" href="/css/popup.css">
</head>
<body class="popup">
	<header>
		<button data-popup-action="back" class="icon-button">(back icon)</button>
		<span>yolomail.net</span>
		<button data-popup-action="settings" class="icon-button">(settings icon)</button>
	</header>
	<main>
		<span class="logo">jailtime logo</span>

		<div class="site-info">
			<span class="site-name">yolomail.net</span>
			<div class="block-status">
				<span class="indicator"></span>
				Blocked
			</div>
		</div>

		<div class="actions">
			<button data-popup-action="block">
				Block
			</button>
		</div>
	</main>
</body>
</html>