<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>jailtime popup</title>
	<link rel="stylesheet" href="/css/global.css">
	<link rel="stylesheet" href="/css/popup.css">
</head>
<body class="popup" data-controller="popup" data-popup-blocked-class="blocked">
	<header>
		<button data-action="popup#navigateToSettings" class="icon-button">
			<svg class="icon">
				<use xlink:href="/assets/icons/spritemap.svg#sprite-settings"></use>
			</svg>
		</button>
	</header>
	<main>
		<span class="logo">jailtime logo</span>

		<div class="site-info">
			<span data-popup-target="url" class="site-name">yolomail.net</span>
			<div data-popup-target="status" class="block-status not-blocked">
				<span class="indicator"></span>
				Not Blocked
			</div>
			<div class="schedule-status">
				<span>10:00 - 1 hour</span>
			</div>
		</div>

		<div class="actions">
			<button class="primary block-button" data-popup-target="blockButton" data-action="popup#block">
				Block
			</button>
		</div>
	</main>
	<script src="/js/popup.js" type="module"></script>
</body>
</html>