<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Jailtime - Site Blocked</title>
	<link rel="stylesheet" href="/css/global.css">
	<link rel="stylesheet" href="/css/site-blocked.css">
</head>
<body>
	<main>
		<div class="blocked-text">
			Blocked
		</div>

		<button class="primary">Edit blocklist</button>
	</main>
	<footer>
		© <a href="https://www.colinkiama.com">Colin Kiama</a> - 2022
	</footer>
	<script src="/js/site-blocked.js"></script>
</body>
</html>