@font-face {
	font-family: "ReadexPro";
	src: url("/assets/fonts/ReadexProVariable.ttf") format('truetype');
	font-weight: 200 700;
}

:root {
	/* Color Palette */
	--murky-grey: hsla(24, 5%, 19%, 1);
	--uniform-blue: hsla(241, 68%, 45%, 1);
	--siren-red: hsla(2, 82%, 47%, 1);
	--siren-red-in-dark: hsla(2, 82%, 64%, 1);
	--inactive-siren-red: hsla(360, 82%, 77%, 1);
	--foggy-grey: hsla(0, 0%, 68%, 1);
	--dirty-grey: hsla(0, 0%, 49%, 1);
	--light-bg-color: hsla(0, 0%, 99%, 1);
	--dark-bg-color: var(--murky-grey);

	/* Gradient Colors */
	--siren-red-gradient: linear-gradient(90deg, hsla(22, 82%, 47%, 1) 18%, hsla(360, 82%, 47%, 1) 82%);
	--uniform-blue-gradient: linear-gradient(90deg, hsla(198, 61%, 42%, 1) 17%, hsla(230, 68%, 45%, 1) 82%);

	/* Base Colors */
	--foreground-color: var(--murky-grey);
	--background-color: var(--light-bg-color);

	/* Base typography */
	--base-font-size: 16px;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-bold: 700;
}


body {
	font-family: "ReadexPro";
	color: var(--foreground-color);
	background-color: var(--background-color);
	font-size: var(--base-font-size);
}

/* Components */
button.primary {
	transition: background-color 0.3s ease-out;
	display: inline-flex;
	align-items: center;
	background-color: var(--siren-red);
	font-family: inherit;
	color: white;
	padding: 0.5rem 2rem;
	border-radius: 1.25rem;
	border: 0;
	font-variation-settings: 'wght' var(--font-weight-medium);
}

button.primary:hover {
	background-color: hsl(1.8, 81.7%, 57.1%);
}

button.primary:active {
	background-color: hsl(1.8, 81.7%, 67.1%);

}

button.primary:disabled {
	background-color: var(--inactive-siren-red);
}

button.secondary {
	transition: color 0.3s ease-out;
	display: inline-flex;
	background: none;
	align-items: center;
	font-family: inherit;
	color: var(--siren-red);
	border: 0;
	font-variation-settings: 'wght' var(--font-weight-medium);
}

button.secondary:hover {
	color: hsl(1.8, 81.7%, 57.1%);
}

button.secondary:active {
	color: hsl(1.8, 81.7%, 67.1%);

}

button.secondary:disabled {
	color: var(--inactive-siren-red);
}

.indicator {
	width: 1rem;
	height: 1rem;
	display: inline-block;
	border-radius: 100%;
	background-color: gray;
	border: 0.125rem solid white;
	box-sizing: border-box;
}

.block-status,
.schedule-status {
	display: flex;
	align-items: center;
}

.block-status .indicator {
	margin-right: 0.5rem;
}

.block-status.blocked .indicator {
	background-color: var(--siren-red);
}

.block-status.not-blocked .indicator {
	background-color: var(--uniform-blue);
}

.schedule-status svg {
	margin-right: 0.75rem;
}


/* Dark theme styles */
@media (prefers-color-scheme: dark) {
	:root {
		--foreground-color: white;
		--background-color: var(--dark-bg-color);
	}

	button.secondary {
		color: var(--siren-red-in-dark);
	}

	button.secondary:hover {
		color: hsl(1.8, 81.7%, 67.1%);
	}

	button.secondary:active {
		color: hsl(1.8, 81.7%, 77.1%);
	}	
}
