.popup {
	display: flex;
	flex-direction: column;
	padding: 3rem;
	margin: 0;
}

.popup > header {
	display: flex;

}

.popup > header span {
	flex: 1 1 0%;
	text-align: center;
}

.popup .logo {
	text-align: center;
	display: block;
}

.popup .site-info {
	border-radius: 0.75rem;
	background: var(--uniform-blue-gradient, blue);
	padding: 3rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.popup .actions {
	display: flex;
	justify-content: center;
}


