.popup {
	min-height: unset;
	width: 380px;
	height: 440px;
}

.popup > header {
	display: flex;
	padding: 1.25rem 1rem;
	align-items: center;
	justify-content: flex-end;
	color: white;
}

.popup > header button {
	transition: background 0.3s ease-out;
	background: none;
	padding: 0.25rem;
	border: none;
	flex: 0 0 1.5rem;
	border-radius: 100%;
	display: inline-flex;
	justify-content: center;
	text-align: center;
}

.popup > header button:hover {
	background-color: var(--bg-hover);
	cursor: pointer;
}

.popup > header span {
	text-align: center;
	flex: 1 1 0%;
}

.popup[data-popup-view] > header{
	background: var(--siren-red-gradient);
	justify-content: space-between;
}

.popup[data-popup-view] > header button {
	position: absolute;
}

.popup .logo {
	text-align: center;
	display: block;
}

.popup .site-info {
	border-radius: 0.75rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
	margin-top: 2rem;
	margin-bottom: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
}

.popup .site-info > * {
	margin-bottom: 0.75rem;
}

.popup .site-info > *:last-child {
	margin-bottom: 0;
}

.popup .site-info .site-name {
	font-size: 1.25rem;
	font-variation-settings: 'wght' var(--font-weight-medium);
	width: 100%;
	text-align: center;
}

.popup .actions {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.popup main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1 1 0%;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 3rem;
}

.popup.blocked .block-button {
	background-color: var(--inactive-siren-red);
}

.popup[data-popup-view="block"] main {
	padding-top: 3rem;
}

.popup[data-popup-view="block"] .actions {
	align-items: stretch;
}

.popup[data-popup-view="block"] .actions > * {
	margin-top: 2rem;
}

.popup[data-popup-view="block"] .actions > :first-child {
	margin-top: 0;
}

.popup[data-popup-view="block-duration"] main {
	padding-top: 2rem;
}

.popup[data-popup-view="block-duration"] form > span:first-child {
	display: block;
	text-align: center;
	font-variation-settings: 'wght' var(--font-weight-medium);
	font-size: 1.5rem;
}

.popup[data-popup-view="block-duration"] .duration-dropdowns {
	display: flex;
	margin-top: 2rem;
	justify-content: center;
	align-items: center;
}

.popup[data-popup-view="block-duration"] .duration-dropdowns > * {
	width: 4.5rem;
	margin-right: 0.75rem;
}

.popup[data-popup-view="block-duration"] .duration-dropdowns > :last-child {
	margin-right: 0;
}

.popup[data-popup-view="block-duration"] .actions {
	margin-top: 3rem;
}
