.settings {
	--gutter: 2.5rem;
	--max-grid-width: 1640px;
	display: flex;
	flex-direction: column;
	padding-top: 4rem;
}

.settings > header,
.settings main,
.settings footer {
	padding-left: 2rem;
	padding-right: 2rem;

}

.settings main {
	flex: 1 1 0%;
	margin-left: auto;
	margin-right: auto;
	max-width: var(--max-grid-width);
	width: 100%;
}

.settings main .columns {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.settings main header,
.settings main .main-content {
	width: 100%
}
	
.settings main nav {
	display: block;
}

.settings main nav a {
	transition: color 0.3s ease-out;
	color: var(--foggy-grey);
	text-decoration: none;
}

.settings main nav ul li {
	display: inline-block;
	padding-right: 0.25rem;
}

.settings main nav ul li:last-child {
	padding-right: 0;
} 

.settings main nav a:hover {
	color: hsla(0, 0%, 28%, 1);
}

.settings main nav a:active {
	color: hsla(0, 0%, 10%, 1);
}

.settings main .main-content {
	overflow-y: auto;
}

.settings .list-controls {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 2rem;
}

.settings .list-controls input[type="search"] {
	width: 100%;
}

.settings .list-controls button {
	margin-top: 1.5rem;
}

.settings main section table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 1rem;
}

/* Update with to match "icon-only button" width when implemented. */
.settings table .actions {
	width: 4rem;
}

.settings table td {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.settings table td:first-child {
	padding-left: 1.25rem;
}

.settings table td:last-child {
	padding-right: 1.25rem;
}

.settings table tr {
	border-bottom: solid 1px var(--foggy-grey);
}

.settings footer {
	padding-top: 2rem;
	padding-bottom: 2rem;
	text-align: left;
}

@media (min-width: 1000px) {
	.settings main,
	.settings footer {
		padding-left: 8.75rem;
		padding-right: 8.75rem;
	}

	.settings main {
		padding-top: 6.25rem;
	}

	.settings main .columns {
		flex-direction: row;
	}
	
	.settings main nav {
		width: 18.75rem;
	}

	.settings main nav ul li {
		display: block;
		padding-right: 0;
	}

	.settings main .main-content {
		margin-left: var(--gutter);
		width: 55%;
	}

}

@media (min-width: 1640px) {
	.settings main {
		padding: 0;	
	}

}

/* Dark color scheme styles */
@media (prefers-color-scheme: dark) {
	.settings main nav a {
		transition: color 0.3s ease-out;
		color: var(--dirty-grey);
		text-decoration: none;
	}

	.settings main nav a:hover {
		color: hsla(0, 0%, 79%, 1);
	}

	.settings main nav a:active {
		color: hsla(0, 0%, 89%, 1)
	}
}
