/* Flexbox grid technique setup */
.settings {
	--gutter: 2.5rem;
	--max-grid-width: 1640px;
	--grid-columns: 12;
	--gaps: 0;
	--container-columns: 12;
 
	display: flex;
	flex-direction: column;
	padding-left: 32px;
	padding-right: 32px;
}

.settings header {
	padding-top: 2rem;
}

.settings main {
	flex: 1 1 0%;
	margin-left: auto;
	margin-right: auto;
	max-width: var(--max-grid-width);
	width: 100%;
}

.settings .grid {
	width: calc(100% + var(--gutter));
	margin-left: calc(var(--gutter) * -1);
	display: flex;
	flex-wrap: wrap;
}

.settings main nav {
	position: fixed;
	display: none;
}

.settings main .main-content {
	background: blue;
	flex: none;
	--container-columns: 12;
	width: calc( ( 100% / var(--grid-columns) * var(--container-columns) ) - var(--gutter));
	margin-left: calc(var(--gutter));
}


.settings footer {
	padding-bottom: 2rem;
}

@media (min-width: 780px) {
	.settings main nav {
		background: red;
		position: static;
		display: block;
		margin-left: calc(var(--gutter));
		--container-columns: 2;
		width: calc( ( 100% / var(--grid-columns) * var(--container-columns) ) - var(--gutter) );
	}

	.settings main .main-content {
		background: blue;
		flex: none;
		--container-columns: 10;
		width: calc( ( 100% / var(--grid-columns) * var(--container-columns) ) - var(--gutter));
		margin-left: calc(var(--gutter));
	}
}

@media (min-width: 1920px) {
	.settings main {
		padding: 0;	
	}
}