@keyframes siren-animation {
	0% {
		color: var(--siren-red);
	}

	100% {
		color: var(--uniform-blue);
	}
}

body {
	background-color: black;
	color: white;
}

header {
	transition: padding 0.5s ease-out;
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 2rem;
	padding-left: 2rem;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.blocked-text {
	animation-name: siren-animation;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
	animation-direction: alternate;
	color: var(--siren-red);
	font-size: 3.75rem;
	font-variation-settings: 'wght' var(--font-weight-bold);
}

button {
	margin-top: 1rem;
}

footer {
	position: fixed;
	left: 0;
	right: 0;
	text-align: center;	
	bottom: 0;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

footer a {
	transition: color 0.3s ease-out;
	color: white;
}

footer a:hover {
	color: var(--dirty-grey);
}

@media (min-width: 1000px) {
	header {
		padding-top: 4rem;
		padding-left: 4rem;
	}
}